html {
        font-family: 'Montserrat', sans-serif;
        margin: 50px;

}

h3{
    color: #322E33;
}

#secondPart{
    margin-top: 50px;
}
#clearCanvasButton{
   
    border-radius: 10px;
    background: #9C9590;
    padding: 10px;
    cursor: pointer;
}
#canvasStuff{
    cursor: none;
}